<app-header title="Date Time"></app-header>

<ion-content>
  <ion-list>
    <ion-list-header>
      <ion-label>Datos de nacimiento</ion-label>
    </ion-list-header>

    <ion-item>
      <ion-label>Fecha de Nacimiento</ion-label>
      <ion-datetime  placeholder="Nacimiento"
                     display-format="YYYY-MMMM-DD"
                     cancelText="Cancelar!!!"
                     (ngModel)="FechaNac.toISOString()"
                     (ionChange)="cambioFecha($event)"></ion-datetime>
    </ion-item>
  </ion-list>
</ion-content>
