<app-header title="Refresher"></app-header>


<ion-content class="ion-padding">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <h3 class="ion-padding animated fadeIn slow" *ngIf="items.length === 0">Pull down to refresh</h3>

  <ion-list >
    <ion-item class="animated fadeIn slow" *ngFor="let item of items; let i = index;" detail>
      <ion-label>Item {{i + 1}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
