<ion-header class="ion-no-border">
  <ion-toolbar>
     <ion-buttons slot="start">
       <ion-back-button defaultHref="/"></ion-back-button>
     </ion-buttons>
    
    <ion-title>Searchbar</ion-title>
  </ion-toolbar>

  <ion-searchbar animated placeholder="Buscar" (ionChange)="buscar($event)"></ion-searchbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let item of lista | async | filtro: textoBuscar: 'title'" detail>
      <ion-label>
        <h3>{{item.title}}</h3>
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>
